@model UsersViewModel
@{
    ViewData["Title"] = "Details";
    var roles = string.Join(" ", Model.Roles);
}
<div>
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label asp-for="Fname" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Fname" readonly>
    </div>
    <div class="mb-3">
        <label asp-for="Lname" class="form-label"></label>
        <input class="form-control" asp-for="Lname" readonly>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input class="form-control" asp-for="PhoneNumber" readonly>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input class="form-control" asp-for="Email" readonly>
    </div>    
    <div class="mb-3">
        <label asp-for="Roles" class="form-label"></label>
        <input class="form-control" value="@roles" readonly>
    </div>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>