@model UsersViewModel
@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit" >
    <div class="mb-3">
        <label asp-for="Fname" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Fname">
        <span asp-validation-for="Fname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Lname" class="form-label"></label>
        <input class="form-control" asp-for="Lname">
        <span asp-validation-for="Lname" class="text-danger"></span>
    </div> 
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input class="form-control" asp-for="PhoneNumber">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>