@model Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create Department</h1>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Code" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Code">
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DateOfCreation" class="form-label"></label>
        <input  class="form-control" asp-for="DateOfCreation">
    </div>

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>