
@{
    ViewData["Title"] = "CheckInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="agileits-top">
	<p>Please, Check Your Inbox</p>
    <a href="https://mail.google.com/mail/u/0/?ogbl#inbox" class="btn btn-danger">Check Now!</a>
</div>