@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="agileits-top">
	<form asp-action="ForgetPassword">
		<input class="my-2" asp-for="Email" placeholder="Email" required="">
		<span asp-validation-for="Email" class="text-danger"></span>

		<input type="submit" value="Reset" />
	</form>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}