@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="agileits-top">
	<form asp-action="ResetPassword">

		<input class="my-2" asp-for="Password" placeholder="Email" required="">
		<span asp-validation-for="Password" class="text-danger"></span>

		<input class="my-2" asp-for="ConfirmPassword" placeholder="Email" required="">
		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>

		<input type="submit" value="Reset" />
	</form>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}