@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="agileits-top">
	<form asp-action="SignIn">
		<input class="my-2" asp-for="Email" placeholder="First Name" required="">
		<span asp-validation-for="Email" class="text-danger"></span>

		<input class="my-2" type="password" asp-for="Password" placeholder="Password" required="">
		<span asp-validation-for="Password" class="text-danger"></span>

		<div class="wthree-text">
			<label class="anim">
				<input asp-for="RememberMe">
				<span>Remember Me</span>
			</label>
			<div class="clear"> </div>
		</div>
		<input type="submit" value="SIGNIN">
	</form>
	<a asp-action="ForgetPassword"> Forget Password!</a>
	<p>Don't have an Account? <a asp-action="SignUp"> Register Now!</a></p>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}