@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Employee</h1>

<form asp-action="Create" enctype="multipart/form-data">    
    <partial name="partial/CreateEditPartial" />

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>