@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Edit Department</h1>

<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="partial/CreateEditPartial" />

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>